@font-face {
  font-family: 'damu';
  src:  url('../fonts/damu.eot?qnc1zk');
  src:  url('../fonts/damu.eot?qnc1zk#iefix') format('embedded-opentype'),
    url('../fonts/damu.ttf?qnc1zk') format('truetype'),
    url('../fonts/damu.woff?qnc1zk') format('woff'),
    url('../fonts/damu.svg?qnc1zk#damu') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="damu-"], [class*=" damu-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'damu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.damu-add_circle:before {
  content: "\e900";
}
.damu-arrow_lift:before {
  content: "\e901";
}
.damu-check_circle:before {
  content: "\e902";
}
.damu-close:before {
  content: "\e903";
}
.damu-favorite:before {
  content: "\e904";
}
.damu-keyboard_arrow_right:before {
  content: "\e905";
}
.damu-remove_circle_outline:before {
  content: "\e906";
}
.damu-shopping_cart:before {
  content: "\e907";
}
.damu-thumb_down:before {
  content: "\e908";
}
.damu-thumb_up:before {
  content: "\e909";
}
.damu-facebook2:before {
  content: "\ea91";
}
.damu-renren:before {
  content: "\ea99";
}
.damu-sina-weibo:before {
  content: "\ea9a";
}
.damu-youtube2:before {
  content: "\ea9e";
}
.damu-github:before {
  content: "\eab0";
}
.damu-tux:before {
  content: "\eabd";
}
.damu-reddit:before {
  content: "\eac6";
}
